<!doctype html>
<html ⚡ lang="id">

<head>
    <meta charset="utf-8">
    <title>Rental Motor Tulungagung</title>
    <meta content="Rental Motor Tulungagung" name="keywords">
    <meta content="Rental Motor Tulungagung" name="description">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="canonical" href="https://rentalmotortulungagung.com/index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0">
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    {% include amp-accordion.html %} {% include amp-form.html %} {% include amp-sidebar.html %} {% include amp-boilerplate.html %} {% include amp-custom-uncss.html %}
</head>

<body>
    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <form class="menu-layer primary" action="/" target="_top">
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
                <a class="menu-item item-layer-1" href="#features">
                    <amp-img src="/img/car.png" width="30" height="30" layout="fixed" alt="sewa Motor di surabaya"></amp-img>
                    Cara Pesan
                </a>
                <a class="menu-item item-layer-1" href="#pricing">
                    <amp-img src="/img/about.png" width="30" height="30" layout="fixed" alt="sewa Motor di surabaya"></amp-img>
                    Harga
                </a>
                <a class="menu-item item-layer-1" href="#faq">
                    <amp-img src="/img/gallery.png" width="30" height="30" layout="fixed" alt="sewa Motor di surabaya"></amp-img>
                    FAQ
                </a>
                <a class="menu-item item-layer-1" href="#team">
                    <amp-img src="/img/gallery.png" width="30" height="30" layout="fixed" alt="sewa Motor di surabaya"></amp-img>
                    Add Ons
                </a>
                <a class="menu-item item-layer-1" href="#contact">
                    <amp-img src="/img/gallery.png" width="30" height="30" layout="fixed" alt="sewa Motor di surabaya"></amp-img>
                    Contact Us
                </a>
            </div>
        </form>
    </amp-sidebar>
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <amp-img src="/img/logo-green.svg" width="150" height="35" layout="fixed" alt="sewa Motor di tulungagung"></amp-img>
                <!-- <h1><a href="#intro" class="scrollto">RB Rent</a></h1> -->
            </div>
            <div id="logo" class="amp-sidebar-toggle" role="button" on="tap:sidebar.toggle" tabindex="0">
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#features">Cara Pesan</a></li>
                    <li><a href="#call-to-action">Call</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#team">Add Ons</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="intro">
        <div class="intro-text">
            <h2>RB Motor Rental Tulungagung</h2>
            <p>Sewa Motor dan Mobil di Tulungagung </p>
            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="btn-get-started scrollto">Whatsapp Aja</a>
        </div>
    </section>
    <main id="main">
        <section id="about" class="section-bg">
            <div class="container-fluid">
                <div class="section-header">
                    <h3 class="section-title">Tentang Kami</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">
                        RB Motorbike Rental adalah usaha rental motor dan mobil terpercaya di Tulungagung, Motor adalah pilihan bagus untuk anda yang berkujung di Tulungagung dalam keperluan rekreasi, karena beberapa sudut di Tulungagung mempunyai infrastruktur jalan yang kurang terawat karena jauh dari Kota, namun mempunyai pemandangan yang unik dan berkesan untuk dikunjungi, juga untuk anda yang berkepentingan bisnis di Tulungagung motor adalah pilihan tepat untuk mendukung mobilitas anda selama di Tulungagung.
                    </p>
                </div>
            </div>
        </section>
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="section-header wow fadeIn" data-wow-duration="1s">
                            <h3 class="section-title">Cara Pemesanan</h3>
                            <span class="section-divider"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 features-img">
                        <amp-img alt="rental motor tulungagung" src="img/product-features.png" width="330" height="489" layout="responsive" class="wow fadeInLeft"></amp-img>
                    </div>
                    <div class="col-lg-8 col-md-7 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 box wow fadeInRight">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                                <h4 class="title"><a href="">Hubungi Kami</a></h4>
                                <p class="description">Telepon atau WA kami segera dan tentukan Motor yang anda inginkan.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                                <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                                <h4 class="title"><a href="">Tentukan Jadwal</a></h4>
                                <p class="description">Segera tentukan jadwal anda setelah Motor yang ada inginkan tersedia.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                                <h4 class="title"><a href="">Bayar Uang Muka</a></h4>
                                <p class="description">Lakukan pembayaran uang muka sebagai tanda jadi.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                                <h4 class="title"><a href="">Kami akan jemput</a></h4>
                                <p class="description">Kami akan jemput anda pada tanggal yang telah ditentukan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Tunggu Apalagi</h3>
                        <p class="cta-text">Jangan ragu segera konsultasikan keinginan Anda</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="tel:+6282230908740">Hubungi Kami</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="pricing" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Pricing</h3>
                    <span class="section-divider"></span>
                    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/nmax.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>Nmax</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 150.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 1.000.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/vespa.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>New Vespa LX150</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 200.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 1.200.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/beat-fi.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>Honda Beat FI</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 80.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 400.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/mio-m-125.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>Yamaha Mio M3</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 75.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 400.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/beat-pop.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>Honda Beat</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 70.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 370.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="#" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/mio-soul-gt.jpg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                        <div class="box wow fadeInLeft">
                            <h3>Yamaha Mio Soul GT</h3>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Harian : Rp. 70.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Mingguan: Rp. 370.000</li>
                                <li><i class="ion-android-checkmark-circle"></i> Bulanan : - </li>
                            </ul>
                            <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOTOR%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740" class="get-started-btn">Pesan</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Frequently Asked Questions</h3>
                    <span class="section-divider"></span>
                    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
                </div>
                <ul id="faq-list" class="wow fadeInUp">
                    <amp-accordion>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Apa syarat yang dijaminkan untuk meminjam motor?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Untuk meminjam motor anda harus menjaminkan e-ktp beserta satu identitas lain seperti: Kartu mahasiswa/ BPJS/ Kartu Pajak/ Passport/ Sim selain sim C, dan juga sim C pengendara harus bisa ditunjukan.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Bagaimana penghitungan durasi waktu untuk sewa motor?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Sewa motor kami mulai pukul 12 Malam sampai 12 malam berikutnya, bukan 24 jam, apabila anda meminjam motor setelah jam 12 siang atau mengembalikan sebelum jam 12 siang maka akan kami hitung setengah hari.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Apakah kondisi Motor aman untuk dibawa ?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Semua armada kami anggap sebagai aset berharga kami maka Kami rajin dan teliti merawatnya dan semua armada kami adalah murni milik Roda Barokah Rental solution, bukan motor gadai atau motor bermasalah.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Seberapa jauh saya bisa pergi dengan armada ini ?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Untuk RB Motorbike rental hanya diperuntukan pemakaian radius 40 KM, diluar itu tanpa pemberitahuan sebelumnya akan kami anggap sebagai percobaan tindakan penggelapan.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Apa yang bisa saya dapatkan dari harga sewa TSB ?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>selain Armada sewa anda juga akan mendapat 2 helm standard dan satu set jas hujan, untuk keperluan lain anda bisa lihat dalam add on kami.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Apa ada tambahan biaya untuk pengantaran dan pengambilan ?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Antar dan ambil dalam kota Tulungagung sudah termasuk dalam harga sewa kami, jadi tidak ada biaya tambahan.</p>
                            </div>
                        </section>
                        <section>
                            <header class="accordion-header">
                                <h4 class="accordion-title">Pukul berapa motor bisa mulai diambil ?</h4>
                            </header>
                            <div class="accordion-content">
                                <p>Call centre kami siap menerima panggilan anda 24 jam, tapi apabila anda memerlukan pengantaran atau pengambilan motor diluar jam kerja atau tengah malam mohon diberitahukan jauh hari sebelumnya.</p>
                            </div>
                        </section>
                    </amp-accordion>
                </ul>
            </div>
        </section>
        <section id="team" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Add Ons</h3>
                    <span class="section-divider"></span>
                    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
                </div>
                <div class="row wow fadeInUp">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic">
                                <amp-img alt="rental motor tulungagung" src="img/cam-pro.jpeg" width="400" height="400" layout="responsive"></amp-img>
                            </div>
                            <h4>Action Camera</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic">
                                <amp-img alt="rental motor tulungagung" src="img/power-bank.jpeg" width="400" height="400" layout="responsive"></amp-img>
                            </div>
                            <h4>Power Bank</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic">
                                <amp-img alt="rental motor tulungagung" src="img/team/team-4.jpg" width="400" height="400" layout="responsive"></amp-img>
                            </div>
                            <h4>Kaca Mata</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic">
                                <amp-img alt="rental motor tulungagung" src="img/kaca-mata.jpeg" width="400" height="400" layout="responsive"></amp-img>
                            </div>
                            <h4>Jaket Parasut</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="gallery">
            <div class="container-fluid">
                <div class="section-header">
                    <h3 class="section-title">Gallery</h3>
                    <span class="section-divider"></span>
                    <!--  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="img/gallery/gallery-1.jpg" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/rental-motor-tulungagung-armada.jpeg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="img/rental-motor-tulungagung-bule-2.jpeg" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/rental-motor-tulungagung-bule-2.jpeg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item wow fadeInUp">
                            <a href="img/rental-motor-tulungagung-bule-atas-1.jpeg" class="gallery-popup">
                                <amp-img class="gallery-popup" alt="rental motor tulungagung" src="img/rental-motor-tulungagung-bule-atas-1.jpeg" width="800" height="600" layout="responsive"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clients">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-md-2">
                        <amp-img alt="klikada.com" src="https://rbrentcar.com/static/img/klikada-panjang.svg" width="150" height="46" layout="responsive"></amp-img>
                    </div>
                    <div class="col-md-2">
                        <amp-img alt="kedaikosim.com" src="https://kedaikosim.com/assets/img/kedai-kosim-logo-segi-enam.png" width="201" height="118" layout="responsive"></amp-img>
                    </div>
                    <div class="col-md-2">
                        <amp-img alt="plasenta.co.id" src="https://c1.staticflickr.com/3/2889/33807473026_487b343231_o.png" width="933" height="167" layout="responsive"></amp-img>
                    </div>
                    <div class="col-md-2">
                        <amp-img alt="rental motor tulungagung" src="https://upload.wikimedia.org/wikipedia/id/0/08/Oppo_green.png" width="2000" height="312" layout="responsive"></amp-img>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-lg-4 col-md-4">
                        <div class="contact-about">
                            <amp-img src="/img/logo-blue.svg" width="150" height="35" layout="fixed" alt="sewa motor di surabaya"></amp-img>
                            <p>kami adalah usaha rental motor dan mobil terpercaya dan berpengalaman di Tulungagung.
                                <br> Visi dan misi kami adalah kelancaran mobilitas Anda selama di Tulungagung dan sekitarnya.</p>
                            <div class="social-links">
                                <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> -->
                                <a href="https://www.instagram.com/rentalmotortulungagung/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="info">
                            <div><a href="https://www.google.co.id/search?tbm=lcl&ei=Y2TBWvTEMYfLvgSF0aWwAg&q=rental+motor+di+tulungagung&oq=rental+motor+di+tulungagung&gs_l=psy-ab.3..35i39k1.5646.6672.0.7566.3.3.0.0.0.0.446.729.0j2j4-1.3.0....0...1c.1.64.psy-ab..0.3.727...0i13k1j0i8i7i30k1.0.5tHzL_aIYOE#rlfi=hd:;si:11671169194411480747;mv:!1m3!1d18023.297685991813!2d111.9003641!3d-8.0696317!2m3!1f0!2f0!3f0!3m2!1i1648!2i876!4f13.1">
                                <i class="ion-ios-location-outline"></i>
                                <p>Perumahan Bambu Asri D 8, Kedungwaru
                                    <br>Kabupaten Tulungagung, Jawa Timur 66224</p></a>
                            </div>
                            <div><a href="sms:+6282230908740?body=Mau%20Rental%20Motor%20(Nama)%20(Alamat)">
                                <i class="ion-ios-email-outline"></i>
                                <p>0822-3090-8740</p></a>
                            </div>
                            <div><a href="tel:+6282230908740">
                                <i class="ion-ios-telephone-outline"></i>
                                <p>0822-3090-8740</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <!-- <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage">Your message has not been sent. Thank you!</div>
                            <form method="post" action-xhr="https://example.com/subscribe" target="_top" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" title="Send Message">Send Message</button>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>RB Motor Rental Tulungagung</strong>. All Rights Reserved and All the trademarks are the property of their respective owners
                    </div>
                    <div class="credits">
                        Designed by <a href="https://klikada.com/">klikada.com</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">Home</a>
                        <a href="#about" class="scrollto">About</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>